
.DS_Store
*.thm
manuscript/unused.R
*.lb
*.rds
Stan/predFixed.RData
Stan/pred.RData
pred.RData
predFixed.RData
Stan/.Rhistory
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.gz
*.toc
simulations/.Rhistory
manuscript/.Rhistory
